* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --red-color : hsl(0, 78%, 62%) ;
    --cyan-color : hsl(180, 62%, 55%);
    --orange-color : hsl(34, 97%, 64%);
    --blue-color : hsl(212, 86%, 64%);
    --fist-p: hsl(234, 12%, 34%);
    --second-p : hsl(229, 6%, 66%);
    --third-p : hsl(0, 0%, 98%);
}

body {
    font-family: 'Poppins', sans-serif;
    
}
.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--second-p);
    width: 1000px;
    padding: 25px;
    margin: 30px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.container .content {
    text-align: center;
}
.container .content h3 {
    color: var(--second-p);
    font-weight: lighter;
    margin-bottom: 5px;
}
.container .content h2 {
    color: var(--fist-p-p);
    margin-bottom: 15px;

}
.container .content p.p-one {
    width: 500px;
    margin: 0 auto 10px auto;
    color: var(--third-p);
    font-weight: lighter;
}

.container .cards {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(5 , auto);
    gap: 15px;
}




.container .cards .card-one ,
.container .cards .card-two ,
.container .cards .card-three ,
.container .cards .card-four {
    padding: 25px;
    border-radius: 10px;
    background-color: tan;
}
.container .cards .card-one p,
.container .cards .card-two p,
.container .cards .card-three p,
.container .cards .card-four p{
    color: var(--third-p);
    font-weight: lighter;
    margin-bottom: 25px;
}
.container .cards .card-one .img,
.container .cards .card-two .img,
.container .cards .card-three .img,
.container .cards .card-four .img {

    text-align: right;
}

.container .cards .card-one {
    grid-column: 1 / 2 ;
    grid-row : 2/4 ;
    border-top: 6px solid var(--cyan-color);
}
.container .cards .card-two {
    grid-column: 2 / 3 ;
    grid-row : 1/3 ;
    border-top: 6px solid var(--red-color);

}
.container .cards .card-four {
    grid-column: 3 / 4 ;
    grid-row : 2/4 ;
    border-top: 6px solid var(--orange-color);

}
.container .cards .card-three {
    grid-column: 2 / 3 ;
    grid-row : 3/5;
    border-top: 6px solid var(--blue-color);

}

@media only screen and (max-width : 768px) {
    .container .content p.p-one {
        width: auto;
        margin-bottom: 40px;
    }
    .container {
        width: 90%;
        margin: 30px auto;
    }
}


@media only screen and (max-width : 725px) {
    .container .content p.p-one {
        width: auto;
        margin-bottom: 40px;
    }
    .container {
        width: 80%;
        margin: 30px auto;
    }
    .container .cards {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .container .cards .card-one {
        grid-column: 1/2;
        grid-row: 1/2
    }
    .container .cards .card-two {
        grid-column: 1 /2 ;
        grid-row: 2/3;
    }
    .container .cards .card-four {
        grid-column: 1 /2 ;
        grid-row: 3/4;
    }
    .container .cards .card-three {
        grid-column: 1 /2 ;
        grid-row: 4/5;
    }
}